/* css reset */
*,
::after,
::before {
	margin: 0 0;
	padding: 0;
	box-sizing: border-box;

}

html {
	font-family: 'Raleway', sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

/* navbar start*/
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 30px 50px 30px;
	position: sticky;
}

/*logo*/
nav a img {
	width: 120px;
	height: 60px;
}

/*nav button*/
nav ul {

	display: flex;
	justify-content: space-around;
	list-style: none;
}

nav ul li {
	padding: 25px;
	border-top: solid 2px transparent;
}

nav ul li a {
	font-size: 20px;
	font-weight: 500;
	text-decoration: none;
	padding: inherit;
	color: black;
}

nav ul li:hover {
	border-top: solid 2px #0065FC;
	color: #0065FC;
}


header h1 {
	font-size: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

header p {
	font-weight: 500;
	margin: 5px 30px;
	font-size: 23px;
}
/* navbar end */

/* search bar start */
main form {
	display: flex;
	justify-content: center;
	height: 75px;
	width: 650px;
	margin: 20px 30px;
}

.field {
	width: 60%;
	height: auto;
	border: solid 1px #F2F2F2;
	font-size: 25px;
	padding: 0px 20px;
	margin: 0 0;
	font-weight: bold;
	outline-color: #F2F2F2;
}

.search_button {
	width: 30%;
	height: auto;
	border: none;
	background-color: #0065FC;
	color: white;
	font-size: 25px;
	padding: 0 30px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	margin: 0 0;
}

.search_button:hover {
	background-color: #DEEBFF;
	color: #0065FC;
	cursor: pointer;
}

.form_icon_style {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10%;
	height: auto;
	background-color: #F2F2F2;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	margin: 0 0;
}

#search_button_mobile {
	display: none;
}

/*search bar end*/

/* filter start */
.filter {
	display: flex;
	align-items: center;
	margin: 30px 15px 30px 30px;
}
.filter-style {
	display: flex;
	border: solid 3px #F2F2F2;
	width: fit-content;
	height: 60px;
	margin: 0 1% 0 1%;
	border-radius: 50px;
	align-items: center;
}
.filter-style p {
	text-align: center;
	font-weight: bold;
	margin: 0px 20px;
	white-space: nowrap;
}
.filter_icon_style {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #DEEBFF;
	border-radius: 100%;
	margin: 0px 0px 0px -3px;
	height: 60px;
	min-width: 60px;
	color: #0065FC;
}
.filter:hover {
	cursor: pointer;
}
.filter-style:hover {
	background-color: #0065FC;
	color: #F2F2F2;
	border-color: #0065FC;
}
.filter-style:hover .filter_icon_style {
	background-color: #F2F2F2;
	color: black;
}
/* filter end */

/* info pre cards */
.info_pre_card {
	display: flex;
	margin: 15px 30px;
	width: 50%;
	align-items: center;
}

.info_pre_card_style {
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 1px #F2F2F2;
	border-radius: 100%;
	height: 30px;
	width: 30px;
	min-width: 30px;
	color: #0065FC;
	margin-right: 15px;
}

/*Main page container*/
.main_board {
	display: flex;
	height: 800px;
	margin: 0px 25px 50px 25px;
}
/* popular section start*/
#popular {
	margin-left: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 30%;
	height: 100%;
	background-color: #F2F2F2;
	border-radius: 30px;
	align-items: center;
}

#popular_title {
	display: flex;
	width: 90%;
	justify-content: space-between;
	align-items: center;
}

.card-small {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: white;
	border-radius: 22px;
	box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.15);
	width: 85%;
	height: 25%;
	margin: 0px 40px;
	color: black;
	text-decoration: none;
}

.card-small img {

	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	width: 40%;
	height: 95%;
	object-fit: cover;
	margin-left: 4px;
}

.detail_container_small {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
	margin: 0px 15px;
	height: 70%;
}

.star_rating {
	margin-left: 0px;
	width: 200px;
}
.star_rating i {
	margin: 0px 0px;
	padding: 0px 0px;
	color: #0065FC;
}

.star_rating .star-alt{
	color: #D9D9D9;
}
/* popular section end*/


/* Host section start */
#host {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	width: 70%;
	height: 100%;
	background-color: #F2F2F2;
	border-radius: 30px;
	align-items: center;
	padding-bottom: 10px;
	margin-right: 15px;
}

.card-large {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border-radius: 22px;
	box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.15);
	width: 30%;
	height: 40%;
	margin: 15px 0px;
	color: black;
	text-decoration: none;
}

.host_title {
	font-weight: bold;
	font-size: clamp(16px, 1vw, 22px);
	word-wrap: break-word;
}

.card-large img {
	margin: 4px 0px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 97%;
	height: 60%;
	object-fit: cover;
}

.detail_container_large {
	font-size: clamp(16px, 18px, 20px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 35%;
	margin: 0px 0px;
	width: 100%;
	padding-left: 30px;
	padding-right: 5px;
}

#host_h2_title {
	display: flex;
	width: 100%;
	margin-top: 20px;
	margin-left: 30px;
	padding-bottom: 15px;
}

#host_a_showmore {
	text-decoration: none;
	color: black;
	font-size: 22px;
	width: 100%;
	margin: 15px 15px;
}

/* Host section end */

/* activity */

#activity-title {
	margin-left: 30px;
}

#activity-tab {
	display: flex;
	height: 800px;
	margin: 0px 30px 0px 30px;
}

.activity-bloc-large {
	margin: 0px 0px;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.activity-bloc-small {
	margin: 0px 0px;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.activity-large {
	border-radius: 22px;
	box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.15);
	height: 90%;
	width: 90%;
	color: black;
	text-decoration: none;
}

.activity-large img {
	margin: 0px 0px;
	width: 100%;
	height: 90%;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	object-fit: cover;
}

.activity-large p {
	margin-left: 5%;
	margin-top: 2%;
}


.activity-small {
	border-radius: 22px;
	box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.15);
	height: 40%;
	width: 90%;
	color: black;
	text-decoration: none;
}

.activity-small p {
	margin-left: 5%;
	margin-top: 2%;
}

.activity-small img {
	margin: 0px 0px;
	width: 100%;
	height: 80%;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	object-fit: cover;
}

footer {
	display: flex;
	align-items: flex-start;
	width: 100%;
	background-color: #f2f2f2;
}

.footer-links {
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
	margin-left: 30px;
	margin-right: 20%;
}

.footer-links h4 {
	margin-bottom: 10px;
	margin-top: 30px;
}

.footer-links a {
	margin-bottom: 10px;
	text-decoration: none;
	color: black;
}

/* Big screen */
@media screen and (min-width: 2160px) {

	html{
		display: flex;
		justify-content: center;
	}
	body{
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	header{
		width: 1920px;
	}
	main{
		width: 1920px;
	}
	footer{
		width: 100vw;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
	}
	.footer-links{
		width: 640px;
		margin-right: 0%;
	}
}

/* Tablet */
@media screen and (min-width: 769px) and (max-width: 992px) {

	.filter {
		flex-wrap: wrap;
	}
	.filter-style {
		margin-top: 10px;
	}
	.main_board {
		flex-wrap: wrap;
		height: 1800px
	}
	#host {
		width: 100%;
		height: 60%;
		flex-wrap: wrap;
		margin-right: 0px;
		margin-bottom: 20px;
	}
	.card-large {
		width: 40%;
		height: 25%;
	}
	#popular {
		width: 100%;
		height: 40%;
		margin-left: 0px;
	}
}

/* mobile */
@media screen and (max-width: 768px) {
	nav a img {
		width: 120px;
		height: 60px;
	}

	nav ul {
		width: 100%;
		margin-left: 0px;
	}

	nav ul li {
		width: 50%;
		text-align: center;
		border-bottom: solid 2px #F2F2F2;
		margin-bottom: 2px;
	}

	nav {
		flex-wrap: wrap;
		justify-content: center;
		margin: 0px 0px;
	}

	header h1 {
		margin-top: 40px;
		text-align: start;
		width: 90%;
		font-size: clamp(15px, 5vw, 30px);
	}

	header p {
		font-size: clamp(10px, 3vw, 24px);
	}

	nav ul li:hover {
		border-top: solid 0px transparent;
		border-bottom: solid 2px #0065FC;
		color: #0065FC;
	}

	/* search bar */
	main form {
		width: 100%;
		margin: 60px 0px;
	}

	.field {
		width: 60%;
	}

	.search_button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 15%;
	}

	#search_button_desktop {
		display: none;
	}

	.form_icon_style {
		width: 15%;
	}

	#search_button_mobile {
		display: flex;
		width: 15%;
		justify-content: center;
		align-items: center;
	}

	#search_button_mobile:hover {
		background-color: #DEEBFF;
		color: #0065FC;
		cursor: pointer;
	}

	/* end of search bar */


	/* start of filter */
	.filter {
		flex-wrap: wrap;
	}
	.filter p{
	width: 100%;
	}
	.filter-style {
		margin-top: 10px;
	}

	/* end of filter */

	/* start of main board */

	.info_pre_card{
		width: 100%;
		margin-bottom: -50px;
		padding-right: 50px;
	}

	.main_board {
		margin: 0px 0px;
		width: 100%;
		flex-wrap: wrap-reverse;
		height: 2900px;
	}

	#host {
		width: 100%;
		height: 70%;
		flex-wrap: wrap;
		margin-right: 0px;
		margin-bottom: 20px;
		border-radius: 0px;
		background-color: white;
	}

	.host_title {
		font-size: 18px;
	}

	#host_h2_title {
		justify-content: center;
		font-size: 18px;
		margin-left: 0px;
	}

	.card-large {
		width: 80%;
		height: 13%;
	}

	.detail_container_large{
		font-size: 16px;
	}

	#popular {
		width: 100%;
		height: 25%;
		margin-left: 0px;
		border-radius: 0px;
	}

	.card-small {
		width: 85%;
		height: 25%;
		margin: 0px 40px;
		color: black;
		text-decoration: none;
	}
	.detail_container_small{
		font-size: 14px;
	}

	#host_a_showmore{
		margin-left: 30px;	
	}

	/* end of main board */

	/* start of activity */

	#activity-tab {
		flex-direction: column;
		justify-content: space-evenly;
		height: auto;
		margin: 10px 0;
	}

	.activity-bloc-large {
		width: 100%;
		height: auto;
	}

	.activity-large {
		height: 320px;
		width: 90%;
		margin: 10px 0;
	}

	.activity-large p {
		margin-left: 5%;
		margin-top: 2%;
	}

	.activity-large img {
		height: 80%;
	}

	.activity-bloc-small {
		width: 100%;
		height: auto;
	}

	.activity-small {
		height: 320px;
		width: 90%;
		margin: 10px 0;
	}

	.activity-small p {
		margin-left: 5%;
		margin-top: 2%;
	}


	/* end of of activity */

	/* start of footer */
	footer {
		flex-wrap: wrap;
	}

	.footer-links {
		width: 100%;
		font-size: 18px;
		padding-left: 15px;
	}
	/* end of footer */
}